$primary-color: #ffdb45;
$screen1: 112.5em;
$screen2: 102.5em;
$screen3: 93.75em;
$screen4: 81.25em;
$screen5: 75em;
$screen6: 64em;
$screen7: 48em;
$screen8: 25.875em;
$screen9: 23.4375em;
$screen10: 22.5em;
$screen11: 20em;

@mixin screen1 {
  @media (max-width: #{$screen1}) {
    @content;
  }
}

@mixin screen2 {
  @media (max-width: #{$screen2}) {
    @content;
  }
}

@mixin screen3 {
  @media (max-width: #{$screen3}) {
    @content;
  }
}

@mixin screen4 {
  @media (max-width: #{$screen4}) {
    @content;
  }
}

@mixin screen5 {
  @media (max-width: #{$screen5}) {
    @content;
  }
}

@mixin screen6 {
  @media (max-width: #{$screen6}) {
    @content;
  }
}

@mixin screen7 {
  @media (max-width: #{$screen7}) {
    @content;
  }
}

@mixin screen8 {
  @media (max-width: #{$screen8}) {
    @content;
  }
}

@mixin screen9 {
  @media (max-width: #{$screen9}) {
    @content;
  }
}

@mixin screen10 {
  @media (max-width: #{$screen10}) {
    @content;
  }
}

@mixin screen11 {
  @media (max-width: #{$screen11}) {
    @content;
  }
}
.nav {
  z-index: 100;
  font-size: 2rem;
  height: 5rem;
  max-width: 100%;
  position: fixed;
  font-family: "Open Sans";
  margin-top: 5rem;
  margin-left: 10rem;
  z-index: 1000;

  @include screen6() {
    display: none;
  }
}

.navigation-button {
  background-color: white;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 5rem;
  right: 5rem;
  z-index: 10000;
}
.navigation-icon {
  position: relative;
  margin-top: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
  &,
  &::before,
  &::after {
    width: 4vw;
    height: 0.3rem;
    background-color: black;
    display: inline-block;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
  }

  &::before {
    top: -1rem;
  }
  &::after {
    top: 1rem;
  }
}

.navigation {
  &-checkbox {
    position: fixed;
    opacity: 0;
    top: 5rem;
    right: 5rem;
    height: 7rem;
    width: 7rem;
    z-index: 12133;
  }
  &-checkbox:checked + &-button &-icon {
    background-color: transparent;
  }

  &-checkbox:checked + &-button &-icon::before {
    top: 0;

    transform: rotate(135deg);
  }

  &-checkbox:checked + &-button &-icon::after {
    top: 0;

    transform: rotate(-135deg);
  }
  &-checkbox:checked ~ .nav-bar {
    transform: translateY(0);
  }

}

.nav-mobile {
  display: none;
  @include screen6() {
    display: block;
  }
}

.nav-bar {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  @include screen6() {
    position: fixed;
    z-index: 2000;
    padding: 5rem;
    transform: translateY(-100vh);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #fbb034;
    background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
    transition: all 0.5s cubic-bezier(.49,0,.5,1);
  }
}

.nav-logo {
  height: 100%;
  margin-right: 5rem;

  @include screen6() {
    margin: 0;
    height: 10vh;
    width: 10vh;
    margin-bottom: 10rem;
  }
}

.site-link {
  margin: 2rem;
  text-decoration: none;
  color: black;
  transition: all 0.3s;
  &:hover,
  &:active {
    font-size: 2.5rem;
    font-weight: 700;
    margin-left: 2rem;
  }

  @include screen6() {
    font-size: 5rem;
    font-weight: 700;

    &:hover,
    &:active {
    font-size: 5rem;
    color: white;
    }
  }
}
